<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- map to ProductMapper.java -->
<mapper namespace="natureblossom.ims.repository.ProductMapper">

  <!-- insert product -->
  <insert id="insertProduct" parameterType="natureblossom.ims.entity.Product">
    INSERT INTO product_entity (
        name,
        category,
        manufacturer,
        price,
        stock,
        description,
        file_path,
        file_name
    ) VALUES (
        #{name},
        #{category},
        #{manufacturer},
        #{price},
        #{stock},
        #{description},
        #{filePath},
        #{fileName}
    )
  </insert>
  
  <!-- get product list -->
  <select id="getProductList" resultType="natureblossom.ims.entity.Product">
    SELECT
        id,
        name,
        category,
        manufacturer,
        price,
        stock,
        file_path,
        file_name,
        updated_at
    FROM
        product_entity
    WHERE
        del_flg = '0'
    ORDER BY
        category ASC,
        id ASC
  </select>
  
  <!-- get product -->
  <select id="getProduct" resultType="natureblossom.ims.entity.Product">
    SELECT
        id,
        name,
        category,
        manufacturer,
        price,
        stock,
        description,
        file_path,
        file_name,
        updated_at
    FROM
        product_entity
    WHERE
        del_flg = '0'
        AND id =#{id}
  </select>
  
  <!-- update product -->
  <update id="updateProduct" parameterType="natureblossom.ims.entity.Product">
    UPDATE
        product_entity
    SET
        name = #{name},
        category = #{category},
        manufacturer = #{manufacturer},
        price = #{price},
        stock = #{stock},
        description = #{description},
        file_path = #{filePath},
        file_name = #{fileName},
        updated_at = CURRENT_TIMESTAMP
    WHERE
        id = #{id}
  </update>
  
  <!-- delete product -->
  <update id="deleteProduct" parameterType="natureblossom.ims.entity.Product">
    UPDATE
        product_entity
    SET
        del_flg = '1',
        updated_at = CURRENT_TIMESTAMP
    WHERE
        id = #{id}
  </update> 
</mapper>