<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- map to ProductMapper.java -->
<mapper namespace="natureblossom.ims.repository.ProductMapper">

  <!-- insert product -->
  <insert id="insertProduct" parameterType="natureblossom.ims.entity.Product">
    INSERT INTO product_entity (
        name,
        category,
        manufacturer,
        price,
        stock,
        description,
        file_path
    ) VALUES (
        #{name},
        #{category},
        #{manufacturer},
        #{price},
        #{stock},
        #{description},
        #{filePath}
    )
  </insert>
  
  <!-- get product list -->
  <select id="getProductList" resultType="natureblossom.ims.entity.Product">
    SELECT
        name,
        category,
        manufacturer,
        price,
        stock,
        file_path,
        created_at,
        updated_at
    FROM
        product_entity
    WHERE
        del_flg = '0'
    ORDER BY
        id ASC
  </select>
</mapper>