<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"></meta>
    <title>Product List</title>
    <link rel="stylesheet"
	  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  </head>
  <body>
    <div th:replace="~{header :: header}"></div>
    <main>
      <h2 class="sub-title">Product List</h2>
      <label class="messages layout" th:if="${message}" th:text="${message}"></label>
      <button class="btn" onclick="location.href='product-registration'">register</button>
      <label class="item-count" th:text="'Total items: ' + ${itemCount}"></label>
      <div class="scroll-bar">
        <table border="1">
          <thead class="bg-color">
            <tr>
              <th>image</th>
              <th>id</th>
	          <th>name</th>     
	          <th>price</th>
	          <th>stock</th>
	          <th>update</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="table-rows" th:each="item: ${prodList}">
	          <td>
	            <!-- <img class="product-img" th:src="" onerror=""
	              th:alt="${item.name}"/> -->
	          </td>
	          <td class="format id-price-format"><label th:text="${item.id}"></label></td>
	          <td class="format"><label th:text="${item.name}"></label></td>
	          <td class="format">
	            <label th:text="${#numbers.formatDecimal(item.price,1,2)}"></label>
	          </td>
	          <td class="format"><label th:text="${item.stock}"></label></td>
	          <td>
	            <form action="/product-update" method="get">
	              <input type="hidden" th:value="${item.id}" name="id"/>
	              <button class="list-update" type="submit">update</button>
	            </form>
	          </td>
	        </tr>
	      </tbody>
        </table>
      </div>
    </main>
    <div th:replace="~{footer :: footer}"></div>
  </body>
</html>